body {
    margin: 0;
    padding: 0;
  }
  
  h2,
  h3 {
    margin: 10px;
    font-size: 1.2em;
  }
  
  h3 {
    font-size: 1em;
  }
  
  p {
    font-size: 0.85em;
    margin: 10px;
    text-align: left;
  }
  
  /**
  * Create a position for the map
  * on the page */
  #map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  
  /**
  * Set rules for how the map overlays
  * (information box and legend) will be displayed
  * on the page. */
  .map-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    margin-right: 20px;
    font-family: Arial, sans-serif;
    overflow: auto;
    border-radius: 3px;
  }
  
  #features {
    /* position: absolute; */
    bottom: 0;
    right: 0;
    /* background: rgba(255, 255, 255, 0.8); */
    margin-right: 40px;
    font-family: Arial, sans-serif;
    /* overflow: auto; */
    border-radius: 3px;
    top: 0;
    height: 80px;
    margin-top: 20px;
    width: 220px;
  }
  
  .data_box {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    margin-left: 20px;
    font-family: Arial, sans-serif;
    overflow: auto;
    border-radius: 3px;
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    line-height: 18px;
    margin-bottom: 40px;
    width: 300px;
  }

  #legend {
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    line-height: 18px;
    margin-bottom: 40px;
    width: 150px;
  }
  
  .legend-key {
    display: inline-block;
    border-radius: 20%;
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }

  #menu{
    margin-left: 20px;
    margin-top: 20px;
  }

  .marker {
    background-image: url('https://docs.mapbox.com/help/demos/custom-markers-gl-js/mapbox-icon.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }

  .game .mapboxgl-popup-content {
    width: 500px;
    height: 500px;
  }